@model JewelryReal.Models.Sale
@{
    ViewBag.Title = "Добавление сделки";
}
<form asp-action="create" asp-controller="Sale">
    <div class="form-group">
        <label asp-for="Sale_date" class="control-label">Дата сделки</label>
        <input type="datetime-local" asp-for="Sale_date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Sale_price" class="control-label">Сумма сделки</label>
        <input type="number" asp-for="Sale_price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Client.Number_of_regular_customers_card" class="control-label">Покупатель</label>
        <select asp-for="Client.Number_of_regular_customers_card" asp-items="ViewBag.Clients" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductID" class="control-label">Изделие</label>
        <select asp-for="Product.ProductID" asp-items="ViewBag.Products" class="form-control"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>