@model JewelryReal.Models.Product
@{
    ViewBag.Title = "Удаление клиента";
}

<div>
    <dl class="dl-horizontal">
        <dt>Номер карты постоянного покупателя</dt>
        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt>Фамилия</dt>
        <dd>
            @Html.DisplayFor(model => model.Mass)
        </dd>
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>Отчество</dt>
        <dd>
            @Html.DisplayFor(model => model.Product_type.Type_name)
        </dd>
    </dl>

    <div>
        <form asp-controller="Product" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>